body{
	margin: 0;
	padding: 0;
	font-family: "游ゴシック",YuGothic,"メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "ＭＳ Ｐゴシック", "MS P Gothic", Verdana, Arial, Helvetica, sans-serif;
	-webkit-tap-highlight-color:rgba(255,0,0,0);
}
a{
	text-decoration: none;
	color:skyblue;
}
._container{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}
#block_you{
		z-index: 10;
		background-color: black;
		opacity: 0.5;
		text-align: center;
		position: fixed;
		width: 100%;
		height: 100%;
		padding-top: 50vh;
		top: 0;
		display: none;
	}
._header{
	background-color:#4F4F4F; 
	/* background-color:rgba(0,0,0,0.9); */
	text-align: center;
	font-size: 15px;
	margin: 0px;
}
._header a{
	font-size: 18px;
	display: inline-block;
	margin: 10px;
	text-decoration: none;
	color: white;
	margin-left: 20px;
}
._header a:hover{
	color: #F0F0F0;
}
._header a i{
	color:#00CACA;
	margin-right: 10px
}
._loginOption{
	display: inline;
	margin:0;
	padding: 0;
	color:black;

}
._pages{
	padding: 0px;
	margin: 0px;
}
.welcome{
		height:40px;
		padding: 5px;
		font-weight: lighter;
		margin: 0px;
		text-align: center;
		font-size:20px;
		background: linear-gradient(to top,#F0F0F0 ,white );
		color: gray;
		/* background: linear-gradient(to top,#808080 ,DimGrey );
		color: white; */
	}
.articleBar{
		background-color:lightyellow;
		padding: 5px;
	}
[name='title']{
	display: inline-block;
	padding: 0px;
	margin: 0px;
}
.pageContainer{
	padding:10px 0px 10px 0px;
	margin: 0px;
}
.pageMiddle{
	padding: 1vw;
	width:;
	margin: 0px 10vw 0px 10vw;
	background-color: white ;
}
.singleMiddle{
		margin: 0px 20vw 0px 20vw;
		background-color:white;
		padding: 20px 1vw 40px 1vw;
	}
.singleMiddle img{
	width: 90%;
	max-width: 56vw
}
._loading{
	text-align: center;
	display: none;
}
#menuBar{
	display: none;
}
#welcomeOption{
	font-weight: lighter;
	cursor: pointer;
	padding:0px;
	margin: 1px 5px 0px 5px;
	float: right;
	color:gray;
	display: none;
}
._menu{
}
._content{
	/* height: 100vh; */
	background-color: white;
	/* background:linear-gradient(to top,#FFFFDF,#FFFFDF); *//* #FFFFAA */
	margin: 0px;
	padding:0px;
}
.article_content{
		line-height: 25px;　
	}
/* @media screen and (orientation:portrait) {

} */
@media (max-width:500px){
	.article_content{

	}
	[name='title']{
		font-size: 14px;
	}
	.welcome{		
		font-size:18px;
	}
	#welcomeOption{
	font-size: 16px;
	padding:1px;
	margin: 1px 1px 0px 1px;
}
	.pageMiddle{
		width: 98vw;
		margin: 0px 1vw 0px 1vw;
	}
	.singleMiddle{
		margin: 0px 1vw 0px 1vw;
		background-color:white;
		padding: 20px 1vw 40px 1vw;
	}
	.singleMiddle img{
		width: 96%;
	}
	.pageContainer{
		padding:2px 0px 2px 0px;
	}

   ._response-header{
		text-align: left;
	}
	._menu{
		top: 0;
		z-index: 20;
		width:100%;
		position: fixed;
		left: -100%;
		height: 100%;
	}
	._loginOption{

	}
	#menuBar{
		padding-top: 6px;
		float: left;
		margin-top: -5px;
		cursor: pointer;
		font-size: 18px;
		display: inline-block;
		text-decoration: none;
		color: gray;
	}
	._header a{
		font-size: 15px;
		display: block;
		margin: 20px 5px 10px 20px;
	}
	._menuArea{
		height: 100%;
		padding: 2px;
		width: 200px;
		background-color:rgba(79,79,79,0.88); 
		/* background-color:rgba(0,0,0,0.9); */
	}
}
