body{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
._container{
}
._header{
	text-align: center;
	font-size: 20px;
	margin: 0px;
	padding:10px 5px 10px 5px;
}
._header a{
	display: inline-block;
	text-decoration: none;
	color: #0000C6;
	margin-left: 20px;
}
._header a i{
	color:#5B5B5B;
}
._header p{
	display: inline;
	margin:0;
	padding: 0;
}
.welcome{
		font-size: 20px;
		margin: 0px;
		text-align: center;
		font-size:20px;
		background: linear-gradient(to top,#84C1FF,#97CBFF); 
		color: white;
	}
[name='title']{
	padding: 10px 0px 10px 0px;
	margin: 0px;
}
._pages{}
.pageContainer{
	padding: 10px;
	margin: 0px;
}
._loading{
	text-align: center;
	display: none;
}
._menu{

}
._content{
	/* height: 100vh; */
	background-color:#A6FFFF;
	margin: 0px;
	padding:0px;
}
._loginOption a{
	display: none;
	color: #808040;
}
@media screen and (orientation:portrait) {
   
}